*.pdf
*.mp4
*.docx
/2-Java/Unidad_1/Calculadora/nbproject/private/
/2-Java/Unidad_1/Calculadora/build/
/2-Java/Practica_Clase/Clase1/nbproject/private/
/2-Java/Practica_Clase/Clase1/build/
/2-Java/Unidad_2/Actividad_1/nbproject/private/
/2-Java/Unidad_2/Actividad_1/build/
/2-Java/Practica_Clase/Clase 2/nbproject/private/
/2-Java/Practica_Clase/Clase 2/build/
/2-Java/Practica_Clase/Clase2/nbproject/private/
/2-Java/Practica_Clase/Clase2/build/
/2-Java/Practica_Clase/Clase3/nbproject/private/
/2-Java/Practica_Clase/Clase3/build/
/2-Java/Unidad_1/Reto1/ Aseguradora/nbproject/private/
/2-Java/Unidad_1/Reto1/ Aseguradora/build/
/2-Java/Unidad_1/Aseguradora/nbproject/private/
/2-Java/Practica_Clase/clase4/nbproject/private/
/2-Java/Practica_Clase/clase4/build/
/2-Java/Practica_Clase/Clase4/nbproject/private/
/2-Java/Practica_Clase/Clase4/build/
/2-Java/Practica_Clase/Clase5/nbproject/private/
/2-Java/Practica_Clase/Clase5/build/
/2-Java/Practica_Clase/Clase6/nbproject/private/
/2-Java/Practica_Clase/Clase6/build/
/2-Java/Practica_Clase/Clase7/nbproject/private/
/2-Java/Unidad_2/Aseguradora/nbproject/private/
/2-Java/Unidad_2/Aseguradora/build/
/2-Java/Practica_Clase/Clase7/build/
/2-Java/Unidad_2/Clase8/nbproject/private/
/2-Java/Unidad_2/Clase8/build/
/2-Java/Practica_Clase/Clase8/nbproject/private/
/2-Java/Unidad_3/Aseguradora/nbproject/private/
/2-Java/Practica_Clase/Clase9/Ejemplo1/nbproject/private/
/2-Java/Practica_Clase/Clase9/Ejemplo1/build/
/2-Java/Practica_Clase/Clase10/InteraccionVentanas/nbproject/private/
/2-Java/Practica_Clase/Clase10/InteraccionVentanas/build/
